<!DOCTYPE html>
<html>
  <head>
    <title>Flixster</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.12/video.js"></script>
    <style type="text/css">
    .vjs-default-skin { color: #1bbb49; }
    .vjs-default-skin .vjs-play-progress,
    .vjs-default-skin .vjs-volume-level { background-color: #a7cce1 }
    .vjs-default-skin .vjs-control-bar,
    .vjs-default-skin .vjs-big-play-button { background: rgba(73,82,169,0.7) }
    .vjs-default-skin .vjs-slider { background: rgba(73,82,169,0.2333333333333333) }
    </style>
    <style>
    .video-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
    </style>
  </head>
  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Flixster', root_path, :class=>'navbar-brand' %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "See All Courses", courses_path %></li>
            </ul>

           <ul class="nav navbar-nav navbar-right">
           	<% if user_signed_in? %>
            <li><%= link_to 'My Dashboard', dashboard_path %></li>
        		<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      		<% else %>
        		<li><%= link_to 'Sign in', new_user_session_path %></li>
        		<li><%= link_to 'Sign up', new_user_registration_path %></li>
      		<% end %>
          </ul>


          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>

    <br class="clr" />

    <div id="footer">
      <div class="container col-xs-10 col-xs-offset-1">
        <div class="col-xs-12 col-sm-3">
          <b>Teachers</b>
          <br />
          <%= link_to "Teach course", new_instructor_course_path %>
          <br />
          <%= link_to "View Dashboard", dashboard_path %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <b>About</b>
          <br />
          <%= link_to "Team", team_path %>
          <br />
          <%= link_to "Careers", careers_path %>
          <br />
          <%= link_to "Privacy Policy", privacy_path %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <b>Contact</b>
          <br />
          Yury Voloshin
          <br />
          Brooklyn, NY 11214
        </div>
        <div class="col-xs-12 col-sm-3 social">
          <b>Social</b>
          <br />
          <br />
          <%= link_to 'http://www.facebook.com' do %>
            <%= image_tag 'facebook.png', :class => 'social-button' %>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/yvoloshin' do %>
            <%= image_tag 'linkedin.png', :class => 'social-button' %>
          <% end %>
          <%= link_to 'https://github.com/yvoloshin/Flixster' do %>
            <%= image_tag 'github.png', :class => 'social-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
